<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{trip.mainDestination}} Memories</title>
    <link rel="stylesheet" href="/styles/components/style.css">
    <link rel="stylesheet" href="/styles/all-memories.css">
    <link rel="stylesheet" href="/styles/trip-details/memories.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    {{>navbar}}

    <main class="container">

        <section class="all-memories-header">
            <h3>{{trip.mainDestination}} Memories</h3>
        </section>

        {{#if memories.length}}
            <section class="memory-grid">
                {{#each trip.memories}}
                <div class="memory-card">
                    <img src="{{this.url}}" alt="Memory Image" class="memory-img" />

                    {{#if this.caption}}
                        <p class="memory-caption">"{{this.caption}}"</p>
                    {{/if}}

                    <p class="memory-uploader">— {{lookup ../uploaderMap this.uploadedBy}}</p>

                    <div class="memory-btn">
                        <form class="download-memory-form">
                            <input type="hidden" name="memoryId" value="{{this._id}}" />
                            <button type="submit" class="memory-download-btn" title="Download">
                                <i class="fa-solid fa-file-arrow-down"></i>
                            </button>
                        </form>

                        <form class="delete-memory-form">
                            <input type="hidden" name="memoryId" value="{{this._id}}" />
                            <button type="submit" class="memory-delete-btn" title="Delete">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
                {{/each}}
            </section>
        {{else}}
            <p style="text-align:center; color:#777; font-size:1.1rem;">No memories found for this trip yet.</p>
        {{/if}}
    </main>

    {{>footer}}
</body>
</html>
